################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CleanArchitecture.API/bin
/CleanArchitecture.API/obj
/CleanArchitecture.Domain/bin
/CleanArchitecture.Domain/obj
/CleanArchitecture.Domain.Tests/bin
/CleanArchitecture.Domain.Tests/obj
/CleanArchitecture.Infrastructure/bin
/CleanArchitecture.Infrastructure/obj
/CleanArchitecture.Infrastructure.Tests/bin
/CleanArchitecture.Infrastructure.Tests/obj
/CleanArchitecture.Services/bin
/CleanArchitecture.Services/obj
/CleanArchitecture.Services.Tests/bin
/CleanArchitecture.Services.Tests/obj
